.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  
  .About h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .About h2 {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 800px;
  }
  
  @media screen and (max-width: 600px) {
    .About h2 {
      font-size: 16px;
    }
  }
  